---
layout: base.njk
---
{% include 'sitenav.njk' %}

<main class="tdbc-container">

  <article>
      <h2 class="tdbc-lead tdbc-content-maxlength tdbc-mt-md ">
      {{ title }}
    </h2>
    {{ content | safe }}
  </article>
</main>
