---
title: "Blog"
layout: "blogs"
description: "All the Blog Posts"
---

{% set posts = collections.posts | reverse %}

<div>
      {%- for page in posts -%}
        <div>
          <a href="{{ page.url }}">{{ page.data.title }}</a>
          <p>{{ page.date.toLocaleDateString("en-GB") }}</p>
        </div>
        <hr class="blog_list"/>
      {%- endfor -%}
    </div>
